<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= e.label :title %>
			<p><%= e.text_field :title, class: "form-control"%></p>
		</div>
	</div>
</div>
<div class="form-group">
	<%= e.label :description %>
	<p><%= e.text_field :description, class: "form-control"%></p>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= e.label :date_start %>
			<p><%= e.text_field :date_start, class: "datetimepicker form-control" %></p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= e.label :date_end %>
			<p><%= e.text_field :date_end, class: "datetimepicker form-control" %></p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= e.label :date_limit %>
			<p><%= e.text_field :date_limit, class: "datetimepicker form-control" %></p> 
		</div>
	</div>
</div>

<%= collection_select :event, :tags, Tag.all, :id, :name, {:include_hidden => false}, {class: "multiselect-events",:multiple => true} %>


<%= javascript_tag do %>

  $(document).ready(function() {

    $('.multiselect-events').multiselect();

    <% @event.tags.each do |tag| %>
      $(".multiselect-events").multiselect('select', <%= tag.id %>);
    <% end %>
  });

<% end %>