<div>
  <% if current_user.created_events.blank? %>
  <div>No events created</div>
  <% else %>
    <% current_user.created_events.each do |event| %>
      <div class="well">
        <div>
          <% if event.organization.nil? %>
            <h4>All: <%=event.title%></h4>
          <% else %>
            <h4><%= event.organization.name %>: <%=event.title%></h4>
          <% end %>
          <p><%= format_date event.date_start %></p>
          <ul class="tag-container">
            <% event.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>

        </div>
        <div class="btn-group">
          <%= link_to "Details", event_path(event), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_event_path(event), class: "btn btn-warning" %>
          <%= link_to "Delete", event_path(event), confirm: "Are you sure?", class: "btn btn-danger", method: :delete %>
        </div>
      </div>
    <% end %>
  <% end %>


  
  <h3> Attending Events </h3>
  <% if current_user.event_attendees.blank? %>
  <div>Not attending any event</div>
  <% else %>
  <% current_user.event_attendees.each do |event_attendee| %>
      <div class="well">
        <div>
          <h4><%= event_attendee.event.title %></h4>
          <p><%= format_date event_attendee.event.date_start %></p>
          <ul class="tag-container">
            <% event_attendee.event.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="btn-group" id="attends-or-not-<%=event_attendee.event.id%>">
          <%= render 'event_attendees/show', :event => event_attendee.event %>
        </div>
      </div>
    <% end %>
  <% end %>

  

</div>