<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <div class="page-header">
        <h2 class="text-center">Edit Event</h2>
      </div>
      <%= form_for( @event, method: :patch ) do |event| %>

        <%= render "shared/error_messages", target: @event %>
        <%= render partial: 'events/fields', locals: { e: event } %>

        <div class="row">
          <div class="col-md-12">
            <div class="div-float-right">
              <%= link_to 'Cancel', event_path(@event), class: "btn btn-default" %>
              <%= event.submit "Save Changes", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- well-->
  </div><!-- col-md-8 col-md-offset-2 -->
</div><!-- row -->
