<div class="well">
    <div class="page-header">
      <h1 class="text-center">Tags</h1>
    </div>
    <div class="page-header">
      <h3 class="text-center">
        <%= link_to 'Add new', new_admin_tag_path, :class => "btn-success" %>
      </h3>
    </div>
    <table id="admin-tags-table" class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Subscribers</th>
        <th>Events</th>
        <th>Publications</th>
        <th></th>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.id %></td>
            <td><%= tag.name %></td>
            <td><%= tag.num_subscribers %></td>
            <td><%= tag.publications.count %></td>
            <td><%= tag.events.count %></td>
            <td>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <%= link_to admin_tag_path(tag), :class => "btn"  do %>
                    <%= content_tag :span, "", :class => "glyphicon glyphicon-eye-open" %>
                  <% end %>
                  <%= link_to edit_admin_tag_path(tag), :class => "btn"  do %>
                    <%= content_tag :span, "", :class => "glyphicon glyphicon-pencil" %>
                  <% end %>
                  <%= link_to admin_tag_path(tag), :class => "btn", :data => { :confirm => 'Are you sure?' }, method: :delete  do %>
                      <%= content_tag :span, "", :class => "glyphicon glyphicon-remove" %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>



<%= javascript_tag do %>

  $(document).ready(function() {
    $("#admin-tags-table").dataTable({
      "sPaginationType": "bootstrap",
    });
  });

<% end %>