<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Edit Tag/Interest</h2>
    <%= form_for([:admin, @tag], method: :patch) do |t| %>
      <div class="form-group">
        <%= t.label :name %>
        <p><%= t.text_field :name, class: "form-control"%></p>
      </div>
      <%= link_to "Cancel", admin_tags_path, class: "btn btn-primary" %>
      <%= t.submit "Update", class: "btn btn-success", id: "update-admin-tag-btn" %>
    <% end %>
  </div>
</div>
