
<%= content_tag :div, id: "publication-#{comment.publication.id}-comment-#{comment.id}", class: "comment-display", data: { comment_id: comment.id } do -%>
  <h6> <strong><%= comment.creator.name %></strong>  <%= format_date comment.updated_at %></h6>
  <%= auto_link(comment.text, :html => { :target => '_blank' }) %>
  <% if comment.creator == current_user %>
    <p>
      <%= link_to '', [comment.publication, comment],
                   title: "Delete",
                   method: :delete,
                   remote: true,
                   class: "btn-delete glyphicon glyphicon-remove",
                   data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
<% end -%>
