<div >
  <h1><%=event.title%></h1>
  <%=event.date_limit%>

  <ul class="tag-container">
  <% event.tags.each do |tag| %>
  	<li><%= tag.name %></li>
  <% end %>
  </ul>

  <div id="attends-or-not-<%=event.id%>" class="btn-group">
    <%= render 'event_attendees/show', :event => event %>
  </div>
  
</div>
