<% if event.has_already_occurred? %>
  <li class="events-content past-event">
<% else %>
  <li class="events-content">
<% end %>
  <%= link_to event_path(event) do %> 
    <h1><strong><%=event.title%></strong></h1>
    <%= event.date_limit %>
    <ul class="tag-container">
      <% event.tags.each do |tag| %>
      	<li><%= tag.name %></li>
      <% end %>
    </ul>
    <div class="event-button">
      <div id="attends-or-not-<%=event.id%>">
        <%= render 'event_attendees/show', :event => event %>
      </div>  
    </div>
  <% end %>
</li>
