<ul class="timeline-section" >    
  <li class="timeline-title" >
      <div class="post-bubble">
        <span><%= publication.creator.email %></span><br><br>
        <%= publication.text %><br>
        <h5><%= publication.created_at %></h5>
        <div class="post-bubble-arrow-border"></div>
        <div class="post-bubble-arrow"></div>
      </div>
    <br><br>
  </li>

  <div id="publication-<%= publication.id %>-comments">
    <% publication.paginated_comments.each do |comment| %>
      <%= render 'comment', comment: comment %>
    <% end %>
  </div>

  <div id="publication-<%= publication.id %>-new-comment">
    <%= form_for([publication, publication.comments.build], remote: true, class: "input-group") do |f| %>
      <%= render 'comments/fields', f: f %>
    <% end %>
  </div>
  

</ul>
