
<ul id="publication-<%= publication.id %>" >  
  <li class="posts" >
    <div class="posts-title">
      <h5><%= publication.creator.email %></h5>
      <% publication.tags.each do |tag| %>
        <h5><%= tag.name %></h5>
      <% end %>
      <h4><%= publication.text %></h4>
      <h6><%= publication.created_at %></h6>
      <div id="publication-<%= publication.id %>-likes-count" class="inline-likes">
        <% if publication.likes.count > 0 %>
          <p><%= pluralize(publication.likes.count, 'person') %> <%= 'like'.pluralize(publication.likes.count) %> this publication!</p>
        <% end %>
      </div>
      <div id="publication-<%= publication.id %>-like" class="inline-likes">
        <% if liked_publication?(publication.id) %>
          <%= link_to '', publication_like_path(publication), class: "btn-unlike", remote: true, method: :delete %>
        <% else %>
          <%= link_to '', publication_like_path(publication), class: "btn-like", remote: true, method: :post %>
        <% end %>
      </div>
      <div class="comment-errors"></div>
      <div id="publication-<%= publication.id %>-new-comment">
        <%= form_for([publication, publication.comments.build], remote: true, class: "input-group") do |f| %>
          <%= render partial: 'comments/fields', locals: { f: f } %>
        <% end %>
      </div>
      <% if publication.creator == current_user %>
        <div>
          <%= link_to '', [publication],
                       title: "Delete",
                       method: :delete,
                       remote: true,
                       class: 'btn-delete-white',
                       data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
    <div class="load-comments">
      <%= content_tag :a , data: { publication_id: publication.id } do -%>
        Load more comments
      <% end %>
      <br/>
    </div>
    <div id="publication-<%= publication.id %>-comments" class="posts-comments">
      <% publication.paginated_comments.each do |comment| %>
        <%= render partial: 'timeline/comment', locals: { comment: comment } %>
        <hr>
      <% end %>
    </div>
  </li>
</ul>

