<!--<h1>Welcome to the timeline!</h1>

<h2>Publications</h2>
<ol>
<% @publications.each do |publication| %>
	<li><%=publication.text%></li>	
<% end %>
</ol>
<%= will_paginate @publications, param_name: 'publications_page' %>
<%= link_to "Create Publication", new_publication_path %>

<h2>Events</h2>
<ol>
<% @events.each do |event| %>
	<li><%=event.title%></li>
<% end %>	
</ol>
<%= will_paginate @events, param_name: 'events_page'  %>
<%= link_to "Create Event", new_event_path %>
-->

<div class="row">

	<div class="col-sm-4 col-sm-offset-4 timeline">
		<div id="img-button"><%= link_to image_tag("/assets/add.png"), new_publication_path, method: :get %>
		</div>
		<br>

		<% @publications.each do |publication| %>
			<ul class="timeline-section" >		
				<li class="timeline-title" >
						<div class="post-bubble">
							<%=publication.text%>
							<div class="post-bubble-arrow-border"></div>
							<div class="post-bubble-arrow"></div>
						</div>
					<br><br>
				</li>
				<li>
					<div class="post">
						<span>Horinando</span>
						<p>Por mim tanto dá hoje como amanhã. No dia seguinte não posso mas depois volto a poder. Penso que é isso. Mas mesmo assim não sei se gosto da ideia...</p>
					</div>
				</li>
				<li>
					<div class="post">
						<span>Genoveva</span>
						<p>Quem é que convidou o Horinaldo?</p>
					</div>
				</li>
				<li>
					<div class="post">
						<span>Bucetildes</span>
						<p>C'o a breca! Bora la!</p>
					</div>
				</li>
				<li>
					<div class="post">
						<span>Mijardina</span>
						<p>Ela não anda a pôr posts duplicados?</p>
					</div>
				</li>
				<li>
					<div class="post">
						<span>Francisoreia</span>
						<p>Yeap... é naba ainda..</p>
					</div>
				</li>
			</ul>
		<% end %>


	</div>

	<div class="col-sm-2 col-sm-offset-2 timeline">
	
		
		<div id="img-button"><%= link_to image_tag("/assets/add.png"), new_event_path, method: :get %>
		</div>
		<br>
		


		<ul class="timeline-section">


			<li class="timeline-title">
				<span class="fa-stack fa-lg hidden-xs">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-users fa-stack-1x fa-inverse"></i>
				</span>
			</li>


			<% @events.each do |event| %>				
				<li>
					<div class="post">
						<div class="event-bubble">
							<%=event.title%>
						</div>
					</div>
				</li>
			<% end %>			
		</ul>
	</div>

</div>
