<div class="container-timeline">
  <% if @new_publication.errors.any? %>
    <div class="alert alert-danger alert-dismissable" id="error_explanation">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@new_publication.errors.count, "error") %> prohibited
        this publication from being saved:</h4>
      <ul>
        <% @new_publication.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @new_event.errors.any? %>
    <div class="alert alert-danger alert-dismissable" id="error_explanation">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@new_event.errors.count, "error") %> prohibited
        this event from being saved:</h4>
      <ul>
        <% @new_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-2 column content-buttons">
    <%= render '/publications/new_modal', publication: @new_publication %>
    <%= render '/events/new_modal', event: @new_event %>
    <ul class="content-list">
      <li id="new-publication-btn" class="create-content ">
        <div >New Publication</div>
      </li>
      <li id="new-event-btn" class="create-content color-event">
        <div>New Event</div>
      </li>
    </ul>
  </div>
  <div  class="col-md-7 column">
    <ul class="timeline publication-timeline">
      <div id="publications">
        <% @publications.each do |publication| %>
          <%= render partial: 'timeline/publication', locals: { publication: publication } %>
        <% end %>
      </div>
      <% if @publications.next_page %>
        <div id="publication-infinite-scrolling">
          <%= will_paginate @publications %>
        </div>
      <% end %> 
    </ul> 
  </div>
  <div class="col-md-3 col-ms-offset-2 events">
    <ul>
      <% @events.each do |event| %>       
        <li class="events-content">
          <%= render partial: 'timeline/event', locals: { event: event } %>
        </li>
      <% end %>     
    </ul>
  </div> 
</div>
