<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-3 column">
          <h3 class="well">
            Email: <%= current_user.email %>
          </h3>
          </br>
          <h3 class="well">
            Organização: <%= current_user.organization unless !User.method_defined?(:organization) %>
          </h3>
          </br>
          <ul class="well">
            Interesses
            <% current_user.subscribed_tags.each do |tag| %>
              <li>
                - <%= tag.name %>
              </li>
            <% end %>
            <li>
              <div class="btn-group">
                <%= link_to "modificar", "#", class: "btn btn-primary" %>
              </div>
            </li>
            
          </ul>
        </div>
        <div id="publication-index" class="col-md-6 column">
          <%= render partial: 'user/publications/index' %>
        </div>
        <div id="event-index" class="col-md-3 column">
          <%= render partial: 'user/events/index' %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="new-publication-modal">
    <div class="modal-dialog">
      <div class="modal-content form-bg">
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="new-event-modal">
    <div class="modal-dialog">
      <div class="modal-content form-bg">
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  </div>
</div>