<% current_user.created_publications.each do |publication| %>
  <div class="well">
    <div>
      <h2 style="text-decoration: underline;"> Publicação: </h2>
      <p>email: <%= current_user.email %></p>
      <p>texto: <%= publication.text %></p>
      <p>data: <%= publication.updated_at %></p>
    </div>
    <div>
      <h2 style="text-decoration: underline;"> Tags: </h2>
      <% publication.tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
    </div>
    <div>
      <h2 style="text-decoration: underline;"> Comentários: </h2>
      <% publication.comments.each do |comment| %>
        <p>email: <%= comment.creator.email %></p>
        <p>texto: <%= comment.text %></p>
      <% end %>
      </br>
      <div class="btn-group">
      <%= link_to "eliminar", user_publication_path(publication), class: "btn btn-primary", method: :delete, remote: true %>
      <%= link_to "editar", edit_user_publication_path(publication), class: "btn btn-primary", remote: true %>
      </div>
    </div>
  </div>
  </br>
<% end %>
        