<% provide(:title, "Sign in") %>
<div class="landing-container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4 panel panel-default panel-dark">

          <%= image_tag(asset_path("logo2.png"), alt: "iTalent", class:'center-block logo-big')%>
          <br>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "margin-base-vertical") do |f| %>
            <p class="input-group">
              <span class="input-group-addon"><span class="icon-envelope"></span></span>
              <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "name@email.com"  %>
            </p>

            <p class="input-group">
              <span class="input-group-addon"><span class="icon-envelope"></span></span>
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password" %>
            </p>
            <% if devise_mapping.rememberable? -%>
                <p class="help-block text-center" ><%= f.check_box :remember_me %> <%= f.label :remember_me%></p>
              <% end -%>
            <br/>
            <p class="text-center">
                <%= f.submit "Login", class: "btn btn-warning btn-lg", id: "btn-sign-in" %>
            </p>
            </span>
          <% end %>

          <%= render "devise/shared/links" %>

      </div>
  </div>
</div>