<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @user], method: :patch) do |u| %>

      <div class="form-group">
        <%= u.label :name %>
        <p><%= u.text_field :name, class: "form-control"%></p>
      </div>
      <div class="form-group">
        <%= u.label :email %>
        <p><%= u.email_field :email, class: "form-control"%></p>
      </div>
      <div class="form-group">
        <%= u.label :password %>
        <p><%= u.password_field :password, class: "form-control" %></p>
      </div>
      <div class="form-group">
        <%= u.label :password_confirmation %>
        <p><%= u.text_field :password_confirmation, class: "form-control" %></p>
      </div>
      <div class="form-group">
        <%= u.label :organization %>
        <%= collection_select :user, :organization_id, Organization.all, :id, :name, {:include_hidden => false} %>
      </div>

      <%= link_to "Cancel", admin_users_path, class: "btn btn-primary" %>
      <%= u.submit "Update", class: "btn btn-success", id: "update-admin-user-btn" %>
    <% end %>
  </div>
</div>
