<nav class="nav nav-tabs">
  <h1 class="text-center">Manage</h1>

  <% if active_link.downcase.eql? "tags" %>
    <li><%= link_to "Users", admin_users_path %></li>
    <li class="active"><%= link_to "Tags/Interests", admin_tags_path %></li>
    <li><%= link_to "Organizations", admin_organizations_path %></li>
  <% elsif active_link.downcase.eql? "organizations"%>
  	<li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Tags/Interests", admin_tags_path %></li>
    <li class="active"><%= link_to "Organizations", admin_organizations_path %></li>
  <% else %>
    <li class="active"><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Tags/Interests", admin_tags_path %></li>
    <li><%= link_to "Organizations", admin_organizations_path %></li>
  <% end %>
</nav>
