<% if user_signed_in? %>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container header">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span><span class="icon-bar"></span>
					 </button>
					 <%= link_to image_tag( asset_path("logo2.png"), alt: "iTalent", title: "Home" ), timeline_index_path, method: :get %>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<!-- <form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form> -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to "Timeline", timeline_index_path %>
						</li>
						<li>
							<%= link_to "Administration", admin_users_path if current_user.role?(:admin) %>
						</li>
						<li>
							<%= link_to "Personal Area", user_dashboard_path %>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><strong class="caret"></strong></a>
							<ul class="dropdown-menu">
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, class: "text-right", method: :delete %></p>
                </li>
							</ul>
						</li>
					</ul>
				</div>
				</div>
			</nav>
<% end %>