
<!--header -->
<header id="top-content" >
	<div class= "logo" >
		<%= link_to image_tag( asset_path("logo2.png"), alt: "iTalent", title: "Home" ), timeline_index_path, method: :get %> 
	</div>
	<div id= "avatar" >
		<%= image_tag( asset_path("profile.png"), alt: "Profile", title: "Profile", width: "45px", height: "45px")%>
	</div>
	<div>
		<% if user_signed_in? %>
		<p ><%= current_user.email %> 
			<%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
		
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %> or 
			<%= link_to "Sign in", new_user_session_path %>
		<% end %>
	</div>

		<div id="top-icons" >					
			<ul>
				<li><%= image_tag( asset_path("search.png"), class: "icon", alt: "Search", title: "Search", width: "35px", height: "35px" ) %></li>
				<li><%= image_tag( asset_path("i.png"), class: "icon", alt: "Statistics", title: "Statistics", width: "35px", height: "35px" ) %></li>
				<li><%= image_tag( asset_path("settings.png"), class: "icon", alt: "Settings", title: "Settings", width: "35px", height: "35px" ) %></li>
			</ul>
	</div>
</header>